<?xml version="1.0"?>
<model>
  <name>Fidget Spinner</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Jasmeet Singh</name>
    <email>jasmeet0915@gmail.com</email>
  </author>

  <description>
    A fidget spinner model with automatic inerita calculation enabled. A fidget spinner mesh is used with cylinders for weigths and central pivot.
  </description>

</model>