<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="camera" params="ref_link">
        <link name="camera_frame" />

        <joint name="camera_joint" type="fixed">
            <origin xyz="0.3 0.0 0.3" rpy="0.0 1.0 3.1416" />
            <parent link="${ref_link}" />
            <child link="camera_frame" />
        </joint>
    </xacro:macro>
</robot>